pkgbase = reset-cli
	pkgdesc = A simple bash script to reset a Linux system based on ArchLinux
	pkgver = 0.1.0
	pkgrel = 1
	arch = x86_64
	license = GPL
	depends = bash
	source = arch-reset-cli.sh
	sha256sums = 10cc5c1c472fb8b27a7b7a1b82978ae2c3c781d85c553e87d825575cfb3f9239

pkgname = reset-cli
